absl-py==0.2.2
aiofiles==0.4.0
aiohttp==3.5.4
alabaster==0.7.12
alembic==1.2.1
aniso8601==7.0.0
apache-log-parser==1.7.0
apispec==1.3.3
apispec-webframeworks==0.4.0
appdirs==1.4.3
appnope==0.1.0
APScheduler==3.5.1
argh==0.26.2
arrow==0.14.7
asn1crypto==0.24.0
astor==0.7.1
async-generator==1.10
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.7.1
Automat==0.7.0
awscli==1.16.178
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.0.2
boto==2.49.0
boto3==1.9.131
botocore==1.12.168
cachetools==3.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
chromedriver-installer==0.0.6
Click==7.0
cloudpickle==1.2.1
colorama==0.3.9
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.13.0
configparser==4.0.2
constantly==15.1.0
credentials==1.1
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.2
Cython==0.26.1
cytoolz==0.9.0.1
databricks-cli==0.9.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
distro==1.4.0
Django==2.0.6
docker==4.0.2
docker-py==1.10.3
docker-pycreds==0.2.1
docopt==0.4.0
docutils==0.14
docx==0.2.4
dryscrape==1.0
e==1.4.5
en-core-web-sm==2.0.0
entrypoints==0.2.3
eyeD3==0.8.8
facepy==1.0.9
fakeredis==0.10.3
fastzbarlight==0.0.14
fbmessenger==6.0.0
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT-Simple==0.0.3
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.7
flask-restplus==0.12.1
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
future==0.17.1
gast==0.2.0
gensim==3.7.3
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.2
# Editable install with no version control (go-vncdriver==0.4.19)
-e /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages
google-api-core==1.7.0
google-auth==1.6.2
google-cloud==0.34.0
google-cloud-speech==0.36.1
googleapis-common-protos==1.5.5
gorilla==0.3.0
greenlet==0.4.15
grpcio==1.13.0
gunicorn==19.9.0
gym==0.9.5
# Editable install with no version control (gym-soccer==0.0.1)
-e /Users/ksreenivasareddy/Downloads/gym-soccer-master
h5py==2.7.1
hfo-py==0.2
html5lib==1.0.1
httptools==0.0.13
humanfriendly==4.18
hyperlink==19.0.0
icalendar==4.0.3
ics==0.6
idna==2.6
idna-ssl==1.0.1
image==1.5.24
imageai==2.1.4
imageio==2.5.0
imagesize==1.1.0
imgaug==0.2.9
imutils==0.5.2
incremental==17.5.0
inflection==0.3.1
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.13.1
jieba3k==0.35.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
json2html==1.2.1
jsonpickle==1.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kafka-python==1.4.6
Keras==2.0.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.0.1
klein==17.10.0
lxml==4.3.3
mailchimp==2.0.9
mailchimp3==3.0.7
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==2.19.3
matplotlib==2.2.0
mattermostwrapper==2.1
MechanicalSoup==0.6.0
mistune==0.8.4
mixpanel==4.4.0
mlflow==1.2.0
MobOff==0.2.2
mock==3.0.5
more-itertools==4.2.0
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.1.0
murmurhash==1.0.2
mysql==0.0.2
mysql-connector-repackaged==0.3.1
mysqlclient==1.3.13
nbconvert==5.4.0
nbformat==4.4.0
ndg-httpsclient==0.5.0
networkx==2.3
newspaper3k==0.2.8
nltk==3.3
nose==1.3.7
notebook==5.7.0
np-utils==0.5.11.1
numpy==1.16.4
oauthlib==2.1.0
opencv-python==4.1.0.25
packaging==19.0
panda==0.3.1
pandas==0.23.0
pandocfilters==1.4.2
parso==0.3.1
passlib==1.7.1
pathlib==1.0.1
pathtools==0.1.2
pbr==5.2.1
pdf2image==1.5.4
pdflib==0.1.7
pdfminer.six==20181108
pdftotree==0.4.0
pexpect==4.6.0
pickleshare==0.7.5
pika==1.0.1
Pillow==5.1.0
plac==0.9.6
praw==6.0.0
prawcore==1.0.0
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.7.1
psycopg2==2.8.2
ptyprocess==0.6.0
pushbullet.py==0.11.0
pyasn1==0.4.3
pyasn1-modules==0.2.3
PyAudio==0.2.11
pycocotools==2.0.0
pycparser==2.18
pycryptodome==3.8.2
pydot==1.4.1
pydub==0.23.1
pygame==1.9.3
pyglet==1.3.2
Pygments==2.2.0
PyHamcrest==1.9.0
PyJWT==1.5.3
pykwalify==1.7.0
pymongo==3.8.0
PyMySQL==0.9.3
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
PySocks==1.6.7
pytesseract==0.2.5
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-docx==0.8.10
python-editor==1.0.4
python-engineio==3.8.1
python-magic==0.4.13
python-magic-bin==0.4.14
python-socketio==4.2.0
python-telegram-bot==11.1.0
pyttsx3==2.7
pytz==2019.1
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
Quandl==3.3.0
querystring-parser==1.2.4
questionary==1.1.0
rasa==1.0.9
rasa-core==0.14.5
rasa-core-sdk==0.14.0
rasa-nlu==0.15.1
rasa-sdk==1.0.0
rasa-x==0.19.0
readlike==0.1.2
redis==3.2.1
regex==2018.1.10
ReParser==1.4.3
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
rocketchat-API==0.6.29
rsa==3.4.2
ruamel.yaml==0.15.85
s3transfer==0.2.0
sanic==19.3.1
Sanic-Cors==0.9.8
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.7.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.3.0
scraper==1.0.0
seaborn==0.9.0
selectivesearch==0.4
selenium==3.11.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplejson==3.16.0
sip==4.19.8
six==1.12.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==1.3.1
smart-open==1.8.3
smmap2==2.0.5
snowballstemmer==1.2.1
sortedcontainers==2.1.0
SoundFile==0.10.2
spacy==2.0.18
speech==0.5.2
SpeechRecognition==3.8.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.4
sqlparse==0.3.0
stevedore==1.30.1
sympy==1.4
tabula-py==1.3.1
tabulate==0.8.3
TatSu==4.4.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-serving-api-python3==1.8.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
textblob==0.15.3
thinc==6.12.1
tika==1.19
tinysegmenter==0.3
tldextract==2.2.1
toolz==0.9.0
torch==1.2.0
tornado==5.1.1
tqdm==4.29.1
traitlets==4.3.2
tweepy==3.6.0
twilio==6.26.1
Twisted==19.2.0
twython==3.7.0
txaio==18.8.1
typing==3.6.6
typing-extensions==3.7.2
tzlocal==1.5.1
ua-parser==0.8.0
ujson==1.35
universe==0.21.5
update-checker==0.16
urllib3==1.24.3
urwid==1.3.1
user-agents==1.1.0
uvloop==0.12.2
virtualenv==16.6.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
Wand==0.5.4
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.1.1
webkit-server==1.0
websocket-client==0.44.0
websockets==6.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wikipedia==1.4.0
winshell==0.6
wordcloud==1.5.0
wrapt==1.10.11
WTForms==2.2.1
wxPython==4.0.0b2
xlrd==1.2.0
xvfbwrapper==0.2.9
yagmail==0.11.220
yarl==1.1.1
youtube-dl==2017.11.26
zope.interface==4.6.0
