{% extends 'base.html' %}

{% block content %}

  <style type="text/css">
    .row {
      display: flex;
    }
    .column {
      flex: 50%;
      height: 400px;
    }
    .content{
      background-image: linear-gradient(to right, #009eff , #00ffe3);
      border-radius: 15px;
    }
  </style>

<!--   <script>
    $(document).ready(function() {
        $('#ajax').submit(function(e) {
            e.preventDefault();  // disables submit's default action
            var data = new FormData($('#ajax').get(0));
            console.log(data);

            $.ajax({
                url: '/models/',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function(data) {
                    data = JSON.parse(data); // converts string of json to object
                    $('#photo').html('<p>Done right</p>');
                    // <h2>title</h2> You do not use 'title' in your project !!
                    // alt=title see previous comment
                }
            });
            return false;
        });
    });
  </script>  -->

  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Eye to<br><span>BRAIN</span></h1>
      <p class="mb-4 pb-0">An interface for DNN projects</p>
      <a href="http://youtube.com/" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#projects" class="about-btn scrollto">Projects</a>
    </div>
  </section>

  <main id="main">
	<section id="projects">
      <div class="container">
        <div align="center">
          {% for k,v in input_content.items %}
            <div class="col-lg-6">
              <div style="padding: 40px;">
                <h2>{{k}}</h2>
                <div class="content">
                  <div class="row">
                    <div class="column input_col">                        
                      <form method="POST" action="models" enctype="multipart/form-data">
                        {{v | safe}}
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{k}}">
                        <div id="photo"></div>
                        <input type='submit' class="btn btn-submit">
                      </form>
                    </div>
                    <div class="column output_col">
                      <p>Output</p>
                      <!-- {{ form.as_p }} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}