{% extends 'base.html' %}

{% block content %}

{% load static %}

  <style type="text/css">
    .row {
      display: flex;
    }
    .column {
      flex: 50%;
      height: 400px;
    }
    .content{
      background-image: linear-gradient(to right, #009eff , #00ffe3);
      border-radius: 15px;
    }
  </style>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <!-- <script src="{% static 'js/submit.js' %}"></script> -->

  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The Eye to<br><span>BRAIN</span></h1>
      <p class="mb-4 pb-0">An interface for DNN projects</p>
      <a href="http://youtube.com/" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#projects" class="about-btn scrollto">Projects</a>
    </div>
  </section>

  <main id="main">
  <section id="projects">
      <div class="container">
        <div align="center">
          {% for k,v in input_content.items %}
            <div class="col-lg-6">
              <div style="padding: 40px;">
                <h2>{{k}}</h2>
                <div class="content">
                  <div class="row">
                    <div class="column input_col">                        
                      <form id="input_form" method="POST" action="/models" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{v | safe}}
                        <input type="hidden" name="name" id="name" value="{{k}}">
                        <input type='submit' class="btn btn-submit">
                      </form>
                      <div id="photo"></div>
                    </div>
                    <div class="column output_col">
                      <p>Output</p>
                      <!-- {{ form.as_p }} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}