{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="speakers" class="wow fadeInUp">
	<div class="container">
	    <div class="section-header">
	      <h2 style="color: #fff">Event Speakers</h2>
	      <p>Here are some of our speakers</p>
	    </div>

		<div class="row" align="center">
			<div class="col-lg-4 col-md-6">
				<div class="speaker">
				{% static "" as baseUrl %}
				{% for i in n %}
					<img src="{{baseUrl}}/img/speakers/{{i}}.jpg" alt="Speaker {{i}}" class="img-fluid">
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}