dj-database-url==0.5.0
Django==2.2.10
gunicorn==19.9.0
psycopg2==2.8.2
whitenoise==4.1.4
beautifulsoup4==4.6.0
Keras==2.0.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
lxml==4.3.3
matplotlib==2.2.0
np-utils==0.5.11.1
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.23.0
Pillow==6.2.0
regex==2018.1.10
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==1.0.0
requests-toolbelt==0.9.1
scikit-image==0.15.0
scikit-learn==0.20.3
sklearn==0.0
tensorflow==1.13.1
WTForms==2.2.1